<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <machineKey decryption="AES" decryptionKey="D5831D6D5E736E3427F561E291C6551384DE29F3CBE89A699B5CF24262FE6431" validation="HMACSHA256" validationKey="C56AC1B247348E7A9F406BE128A5B8210810CA021D42A74E11AF32A08E865A7E13B80F77CB596D5D944E3DC9D4E327C27AB4E762F6455DBF7A9BA078B24FF3FB" />

    <authentication mode ="Forms">
    </authentication>
    
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="180" /> <!--50MB in KiloBytes-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <customErrors mode="Off"></customErrors>
  </system.web>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=decosql02;Initial Catalog=Quality;Persist Security Info=True;User ID=PartHistoryUser;Password=PartHistoryUser" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" /> <!--50 MB in Bytes-->
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>